@tailwind base;
@tailwind components;

/* html {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
html::after {
    content: "";
    background: url('./Assets/bg-01.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
} */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Advent Pro', sans-serif;
}
@tailwind utilities;

